:root{
  --glow: #2a5c44;
  --bg:#212529;
}
body{
cursor: url(https://ani.cursors-4u.net/cursors/cur-13/cur1161.ani), url(https://ani.cursors-4u.net/cursors/cur-13/cur1161.png), auto !important;
}

/* Common Section */
nav {
  width: 100%;
    
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.button-2 {
  position: relative;
  background: var(--glow);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  transition: 0.2s;
}

.button-2:hover {
  letter-spacing: 0.2rem;
  padding: 0.6rem 2.1rem;
  background: var(--clr);
  color: var(--clr);
  /* box-shadow: 0 0 35px var(--clr); */
  animation: box 3s infinite;
}

.button-2::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: var(--bg);
}

.button-2 span {
  position: relative;
  z-index: 1;
}
.button-2 i {
  position: absolute;
  inset: 0;
  display: block;
}

.button-2 i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

.button-2:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

.button-2 i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

.button-2:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}



.borders{
  border-bottom: 4px solid;
  border-radius: 2px;
  width: 12px;
  margin-top: 80px;
  position: absolute;
  animation: nav-bor 3s infinite ease-out ;
}
@keyframes nav-bor {
  0%{
    left: 0;
  }
  30%{
    width: 20px;
  }
  100%{
    left: 100%;
  }
}

section{
  display: flex !important;
  justify-content: center !important;
  min-width: 100vh;
  align-items: center !important;
  min-height: 110vh !important;
  
}
#bdy{
  overflow-x: hidden;
 } 

@media screen and (max-width:768px) {
  .first-section {
    margin-top: 100px;
  }
}

a{
  text-decoration: none;
  color: white;
}
li{
  list-style: none;
}
#glow,.abo {
  text-shadow: 2px 2px 10px var(--glow) ;
}
::selection{
  background-color: #198754;
  color: #212529;
}


/* Nav Bar */
li a:hover{
  font-weight: 700 !important;
  transform: translate(-5px, -5px);
  text-shadow: 1px 1px 5px ;
  color: rgb(78, 166, 78) !important;
  }
  .navigation-bar{
    backdrop-filter: blur(25px);
  }

/* First Section */
.left-content{
  margin-top: 100px !important;
}
.des{
    font-size: 1.7rem !important;
    font-weight: 700 !important;
    color: var(--bg) ;
    text-shadow: -1px -1px 0 var(--glow),
                 1px -1px 0 var(--glow),
                 -1px 1px 0 var(--glow),
                 1px 1px 0 var(--glow) !important;
}

.social-media{
  padding: 20px 20px 20px 0px;
}
.social-media i{
  padding: 25px;
  font-size: 28px;
}
#my-img1{
  width: 100%;
  height: auto;
  max-height: 650px;
  max-width: 70%;
  animation: jump 1s linear alternate infinite;
}
@keyframes jump {
  0%{
    transform: translateY(-7px);
  }
}

#my-img2{
  width: 100%;
  height: auto;
  max-height: 500px;
  max-width: 80%;
}
#my-img3{
  width: 100%;
  height: auto;
  max-height: 400px;
  max-width: 80%;
}

/* Skills */
.skill-left, .skill-right{
  padding: 10px 5px;
}
.front-end h4, .back-end h4, .other-skill h4{
  text-shadow: 2px 2px 10px var(--glow) 
}
.heading{
  margin-bottom: 100px !important;
  color: transparent;
}
#skill-img{
  height: 30px;
}
#other-skill-img{
  height: 70px;
}

/* Project */
.card{
  width: fit-content;
  
}
.card img{
  object-fit: cover !important;
  max-height: 210px !important;
  max-width: 100%;
  width: 400px;
}

/* contact us */
/* #contact-input-1, #contact-input-2{
  border-radius: 10px;
  height: 45px;
  outline: none;
}
#contact-input-1::placeholder, #contact-input-2::placeholder{
  color: #198754;
  padding-left: 20px;
  font-weight: 600;
}
#contact-input-1:focus,#contact-input-2:focus, #contact-input-3:focus{
  border: 1px solid #198754;
} */


td{
  padding: 5px;
}

footer {
  display: flex !important;
  justify-content: center !important;
  min-width: 100vh;
  align-items: center !important;
  min-height: 30vh !important;
}
/* services */
#serv1{
  backdrop-filter: blur(20px);
  border-radius: 10px;
  background-color: rgba(239, 231, 231, 0.06);
}
#serv2{
  backdrop-filter: blur(20px);
  border-radius: 10px;
  background-color: rgba(35, 144, 247, 0.06);
}
#serv3{
  backdrop-filter: blur(50px);
  border-radius: 10px;
  background-color: rgba(15, 203, 47, 0.06);
}
#serv2:hover{
  box-shadow: 5px 3px 10px 0px skyblue,
              -1px 2px 20px 4px black;
}
#serv3:hover{
  box-shadow: 5px 3px 10px 0px green,
              -1px 2px 20px 4px black;
}
#serv1:hover{
  box-shadow: 5px 3px 10px 0px white,
              -1px 2px 20px 4px black;
}
#serv1 img, #serv2 img, #serv3 img{
  width: 100%;
  height: auto;
  max-height: 200px;
  max-width: 50%;
}


/* .outer{
  background: url(./photos/5651999.jpg) no-repeat;
  background-size: cover;
} */